<!doctype html>
<html class="no-js h-100" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>In The Forest</title>
    <meta name="description" content="A high-quality &amp; free Bootstrap admin dashboard template pack that comes with lots of templates and components.">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" id="main-stylesheet" data-version="1.1.0" href="/public/styles/shards-dashboards.1.1.0.min.css">
    <link rel="stylesheet" href="/public/styles/extras.1.1.0.min.css">
    <script async defer src="https://buttons.github.io/buttons.js"></script>
</head>

<body class="h-100">
    <div class="container-fluid">
        <div class="row">
            <!-- Main Sidebar -->
            <aside class="main-sidebar col-12 col-md-3 col-lg-2 px-0">
                <div class="main-navbar">
                    <nav class="navbar align-items-stretch navbar-light bg-white flex-md-nowrap border-bottom p-0">
                        <a class="navbar-brand w-100 mr-0" href="/Dashboard" style="line-height: 25px;">
                            <div class="d-table m-auto">
                                <i class="material-icons">cloud_done</i>
                                <span class="d-none d-md-inline ml-1">In The Forest</span>
                            </div>
                        </a>
                        <a class="toggle-sidebar d-sm-inline d-md-none d-lg-none">
                            <i class="material-icons">&#xE5C4;</i>
                        </a>
                    </nav>
                </div>
                <div class="nav-wrapper">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link " href="/Dashboard">
                                <i class="material-icons">dashboard</i>
                                <span>Dashboard</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/EventLog">
                                <i class="material-icons">event</i>
                                <span>Event & Log</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/Users">
                                <i class="material-icons">assignment_ind</i>
                                <span>Users</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/Groups">
                                <i class="material-icons">group</i>
                                <span>Groups</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="/Systempolicy">
                                <i class="material-icons">computer</i>
                                <span>System Policy</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/Folderpolicy">
                                <i class="material-icons">settings_system_daydream</i>
                                <span>Folder Policy</span>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="/Setting">
                                <i class="material-icons">settings</i>
                                <span>Setting</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </aside>
            <!-- End Main Sidebar -->
            <main class="main-content col-lg-10 col-md-9 col-sm-12 p-0 offset-lg-2 offset-md-3">
                <div class="main-navbar sticky-top bg-white">
                    <!-- Main Navbar -->
                    <nav class="navbar align-items-stretch navbar-light flex-md-nowrap p-2">
                        <form action="#" class="main-navbar__search w-100 d-none d-md-flex d-lg-flex">



                        </form>
                        <ul class="navbar-nav border-left flex-row ">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle text-nowrap px-3" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">

                                    <span class="d-none d-md-inline-block">Administrator</span>
                                </a>
                                <div class="dropdown-menu dropdown-menu-small">
                                    <a class="dropdown-item" href="/Setting">
                                        <i class="material-icons">settings</i> Setting</a>
                                    <!--
                                    <a class="dropdown-item" href="#">
                                        <i class="material-icons">vertical_split</i> Blog Posts</a>
                                    <a class="dropdown-item" href="#">
                                        <i class="material-icons">note_add</i> Add New Post</a>
                                    -->
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item text-danger" href="#">
                                        <i class="material-icons text-danger">&#xE879;</i> Logout </a>
                                </div>
                            </li>
                        </ul>

                    </nav>
                </div>
                <!-- / .main-navbar -->
                <div class="main-content-container container-fluid px-4">
                    <!-- Page Header -->
                    <div class="page-header row no-gutters py-4 mb-3 border-bottom">
                        <div class="col-12 col-sm-12 text-sm-left mb-0">
                            <span class="text-uppercase page-subtitle">in the forest</span>
                            <p></p>
                            {{#each syspolicy}}
                                <h3 class="page-title">{{this.Policy_Name}}</h3>
                            {{/each}}
                        </div>
                    </div>

                    <!-- End Page Header -->
                    {{#each syspolicy}}
                        <form name="setting" action="/Updatesystempolicy/{{this.Policy_No}}" method="post">
                            <div class="row">
                                <div class="col-lg-4">
                                    <div class="card card-small mb-4 pt-3">
                                        <div class="card-header border-bottom text-center">
                                            <h4 class="mb-0">{{this.Policy_Name}}</h4>
                                        </div>
                                        <ul class="list-group list-group-flush">
                                            <ul class="list-group list-group-flush">
                                                <li class="list-group-item p-4">
                                                    <strong class="text-muted d-block mb-2">설명</strong>
                                                    <span>{{this.Policy_Comment}}</span>
                                                </li>
                                            </ul>
                                        </ul>
                                    </div>
                                    <div class="card card-small mb-4 pt-3">
                                        <div class="form-group col-md-12">
                                            <label for="Policy_Name">정책명</label>
                                            <input type="text" class="form-control" name="Policy_Name" id="Policy_Name" placeholder="정책명" value="{{this.Policy_Name}}"> </div>
                                        <div class="form-group col-md-12">
                                            <label for="Policy_Update">정책 갱신 주기(분)</label>
                                            <input type="text" class="form-control" name="Policy_Update" id="Policy_Update" placeholder="정책갱신주기" value="{{this.Policy_Update}}"> </div>
                                    </div>
                                </div>
                                <div class="col-lg-8">
                                    <div class="card card-small mb-4">
                                        <div class="card-header border-bottom">
                                            <h6 class="m-0">System Policy</h6>
                                        </div>
                                        <ul class="list-group list-group-flush">
                                            <li class="list-group-item p-3 px-3 pt-3">
                                                <div class="row">
                                                    <div class="col-sm-12 col-md-4 mb-3">
                                                        <!-- Radios -->
                                                        <strong class="text-muted d-block mb-2">작업관리자 비활성화</strong>
                                                        <fieldset>
                                                            <div class="custom-control custom-radio mb-1">
                                                                <input type="radio" id="Policy_Taskmgr1" value=1 name="Policy_Taskmgr" class="custom-control-input" {{#if this.Policy_Taskmgr}}checked{{/if}}>
                                                                <label class="custom-control-label" for="Policy_Taskmgr1">On</label>
                                                            </div>
                                                            <div class="custom-control custom-radio mb-1">
                                                                <input type="radio" id="Policy_Taskmgr2" value=0 name="Policy_Taskmgr" class="custom-control-input" {{#if this.Policy_Taskmgr}}{{else}}checked{{/if}}>
                                                                <label class="custom-control-label" for="Policy_Taskmgr">Off</label>
                                                            </div>
                                                            <div class="custom-control custom-radio mb-1"></div>
                                                        </fieldset>

                                                        <strong class="text-muted d-block mb-2">캡처 도구 비활성화</strong>
                                                        <fieldset>
                                                            <div class="custom-control custom-radio mb-1">
                                                                <input type="radio" id="Policy_Snippingtools1" value=1 name="Policy_Snippingtools" class="custom-control-input" {{#if this.Policy_Snipping}}checked{{/if}}>
                                                                <label class="custom-control-label" for="Policy_Snippingtools1">On</label>
                                                            </div>
                                                            <div class="custom-control custom-radio mb-1">
                                                                <input type="radio" id="Policy_Snippingtools2" value=0 name="Policy_Snippingtools" class="custom-control-input" {{#if this.Policy_Snipping}}{{else}}checked{{/if}}>
                                                                <label class="custom-control-label" for="Policy_Snippingtools2">Off</label>
                                                            </div>
                                                            <div class="custom-control custom-radio mb-1"></div>
                                                        </fieldset>

                                                        <strong class="text-muted d-block mb-2">디스크 비활성화</strong>
                                                        <fieldset>
                                                            <div class="custom-control custom-radio mb-1">
                                                                <input type="radio" id="Policy_Disk1" value=1 name="Policy_Disk" class="custom-control-input" {{#if this.Policy_Disk}}checked{{/if}}>
                                                                <label class="custom-control-label" for="Policy_Disk1">On</label>
                                                            </div>
                                                            <div class="custom-control custom-radio mb-1">
                                                                <input type="radio" id="Policy_Disk2" value=0 name="Policy_Disk" class="custom-control-input" {{#if this.Policy_Diskj}}{{else}}checked{{/if}}>
                                                                <label class="custom-control-label" for="Policy_Disk2">Off</label>
                                                            </div>
                                                        </fieldset>
                                                        <!-- / Radios -->
                                                    </div>
                                                    <div class="col-sm-12 col-md-4 mb-3">
                                                        <!-- Radios -->
                                                        <strong class="text-muted d-block mb-2">레지스트리 편집기 비활성화</strong>
                                                        <fieldset>
                                                            <div class="custom-control custom-radio mb-1">
                                                                <input type="radio" id="Policy_Regedit1" value=1 name="Policy_Regedit" class="custom-control-input" {{#if this.Policy_Regedit}}checked{{/if}}>
                                                                <label class="custom-control-label" for="Policy_Regedit1">On</label>
                                                            </div>
                                                            <div class="custom-control custom-radio mb-1">
                                                                <input type="radio" id="Policy_Regedit2" value=0 name="Policy_Regedit" class="custom-control-input" {{#if this.Policy_Regedit}}{{else}}checked{{/if}}>
                                                                <label class="custom-control-label" for="Policy_Regedit2">Off</label>
                                                            </div>
                                                            <div class="custom-control custom-radio mb-1"></div>
                                                        </fieldset>

                                                        <strong class="text-muted d-block mb-2">클립보드 비활성화</strong>
                                                        <fieldset>
                                                            <div class="custom-control custom-radio mb-1">
                                                                <input type="radio" id="Policy_Clipboard1" value=1 name="Policy_Clipboard" class="custom-control-input" {{#if this.Policy_Clipboard}}checked{{/if}}>
                                                                <label class="custom-control-label" for="Policy_Clipboard1">On</label>
                                                            </div>
                                                            <div class="custom-control custom-radio mb-1">
                                                                <input type="radio" id="Policy_Clipboard2" value=0 name="Policy_Clipboard" class="custom-control-input" {{#if this.Policy_Clipboard}}{{else}}checked{{/if}}>
                                                                <label class="custom-control-label" for="Policy_Clipboard2">Off</label>
                                                            </div>
                                                            <div class="custom-control custom-radio mb-1"></div>
                                                        </fieldset>

                                                        <strong class="text-muted d-block mb-2">USB 접근 비활성화</strong>
                                                        <fieldset>
                                                            <div class="custom-control custom-radio mb-1">
                                                                <input type="radio" id="Policy_Usbaccess1" value=1 name="Policy_Usbaccess" class="custom-control-input" {{#if this.Policy_Usbaccess}}checked{{/if}}>
                                                                <label class="custom-control-label" for="Policy_Usbaccess1">On</label>
                                                            </div>
                                                            <div class="custom-control custom-radio mb-1">
                                                                <input type="radio" id="Policy_Usbaccess2" value=0 name="Policy_Usbaccess" class="custom-control-input" {{#if this.Policy_Usbaccess}}{{else}}checked{{/if}}>
                                                                <label class="custom-control-label" for="Policy_Usbaccess2">Off</label>
                                                            </div>
                                                        </fieldset>
                                                        <!-- / Radios -->
                                                    </div>
                                                    <div class="col-sm-12 col-md-4 mb-3">
                                                        <!-- Radios -->
                                                        <strong class="text-muted d-block mb-2">cmd 비활성화</strong>
                                                        <fieldset>
                                                            <div class="custom-control custom-radio mb-1">
                                                                <input type="radio" id="Policy_Cmd1" value=1 name="Policy_Cmd" class="custom-control-input" {{#if this.Policy_Cmd}}checked{{/if}}>
                                                                <label class="custom-control-label" for="Policy_Cmd1">On</label>
                                                            </div>
                                                            <div class="custom-control custom-radio mb-1">
                                                                <input type="radio" id="Policy_Cmd2" value=0 name="Policy_Cmd" class="custom-control-input" {{#if this.Policy_Cmd}}{{else}}checked{{/if}}>
                                                                <label class="custom-control-label" for="Policy_Cmd2">Off</label>
                                                            </div>
                                                            <div class="custom-control custom-radio mb-1"></div>
                                                        </fieldset>

                                                        <strong class="text-muted d-block mb-2">USB 쓰기 활성화</strong>
                                                        <fieldset>
                                                            <div class="custom-control custom-radio mb-1">
                                                                <input type="radio" id="Policy_Usbwrite1" value=1 name="Policy_Usbwrite" class="custom-control-input" {{#if this.Policy_Usbwrite}}checked{{/if}}>
                                                                <label class="custom-control-label" for="Policy_Usbwrite1">On</label>
                                                            </div>
                                                            <div class="custom-control custom-radio mb-1">
                                                                <input type="radio" id="Policy_Usbwrite2" value=0 name="Policy_Usbwrite" class="custom-control-input" {{#if this.Policy_Usbwrite}}{{else}}checked{{/if}}>
                                                                <label class="custom-control-label" for="Policy_Usbwrite2">Off</label>
                                                            </div>
                                                            <div class="custom-control custom-radio mb-1"></div>
                                                        </fieldset>
                                                        <!-- / Radios -->
                                                    </div>
                                                </div>
                                                <div align=right><button type="submit" class="btn btn-accent">Update Policy</button></div>
                                            </li>
                                        </ul>

                                    </div>
                                </div>
                            </div>
                        </form>
                    {{/each}}
                </div>
            </main>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
    <script src="https://unpkg.com/shards-ui@latest/dist/js/shards.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Sharrre/2.0.1/jquery.sharrre.min.js"></script>
    <script src="/public/scripts/extras.1.1.0.min.js"></script>
    <script src="/public/scripts/shards-dashboards.1.1.0.min.js"></script>
    <script src="/public/scripts/app/app-blog-overview.1.1.0.js"></script>
</body>

</html>
