<!doctype html>
<html class="no-js h-100" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>In The Forest</title>
    <meta name="description" content="A high-quality &amp; free Bootstrap admin dashboard template pack that comes with lots of templates and components.">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" id="main-stylesheet" data-version="1.1.0" href="/public/styles/shards-dashboards.1.1.0.min.css">
    <link rel="stylesheet" href="/public/styles/extras.1.1.0.min.css">
    <script async defer src="https://buttons.github.io/buttons.js"></script>
    <script>
        // User 체크박스 전체 선택
        function totalcheck() {
            if ($("#usercheckall").is(':checked')) {
                $("input[name=usercheck").prop("checked", true);
                document.getElementById("userremove").className = "mb-0 btn btn-sm btn-outline-danger mr-0";
                document.getElementById("userremove").disabled = false;
            } else {
                $("input[name=usercheck").prop("checked", false);
                document.getElementById("userremove").className = "mb-0 btn btn-sm btn-outline-secondary mr-0";
                document.getElementById("userremove").disabled = true;
            }
        }
        // Folder Policy 체크박스 전체 선택
        function totalcheck() {
            if ($("#foldercheckall").is(':checked')) {
                $("input[name=foldercheck").prop("checked", true);
                document.getElementById("folderremove").className = "mb-0 btn btn-sm btn-outline-danger mr-0";
                document.getElementById("folderremove").disabled = false;
            } else {
                $("input[name=foldercheck").prop("checked", false);
                document.getElementById("folderremove").className = "mb-0 btn btn-sm btn-outline-secondary mr-0";
                document.getElementById("folderremove").disabled = true;
            }
        }
        // button 색 변경
        function buttoncheck() {
            var tmp = $("input:checkbox[name=usercheck]:checked").length;
            if (tmp >= 1) {
                document.getElementById("userremove").className = "mb-0 btn btn-sm btn-outline-danger mr-0";
                document.getElementById("userremove").disabled = false;
            } else {
                document.getElementById("userremove").className = "mb-0 btn btn-sm btn-outline-secondary mr-0";
                document.getElementById("userremove").disabled = true;
            }
        }

    </script>
</head>

<body class="h-100">
    <div class="container-fluid">
        <div class="row">
            <!-- Main Sidebar -->
            <aside class="main-sidebar col-12 col-md-3 col-lg-2 px-0">
                <div class="main-navbar">
                    <nav class="navbar align-items-stretch navbar-light bg-white flex-md-nowrap border-bottom p-0">
                        <a class="navbar-brand w-100 mr-0" href="/Dashboard" style="line-height: 25px;">
                            <div class="d-table m-auto">
                                <i class="material-icons">cloud_done</i>
                                <span class="d-none d-md-inline ml-1">In The Forest</span>
                            </div>
                        </a>
                        <a class="toggle-sidebar d-sm-inline d-md-none d-lg-none">
                            <i class="material-icons">&#xE5C4;</i>
                        </a>
                    </nav>
                </div>
                <div class="nav-wrapper">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link " href="/Dashboard">
                                <i class="material-icons">dashboard</i>
                                <span>Dashboard</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/EventLog">
                                <i class="material-icons">event</i>
                                <span>Event & Log</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="/Users">
                                <i class="material-icons">assignment_ind</i>
                                <span>Users</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/Systempolicy">
                                <i class="material-icons">computer</i>
                                <span>System Policy</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/Folderpolicy">
                                <i class="material-icons">settings_system_daydream</i>
                                <span>Folder Policy</span>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="/Setting">
                                <i class="material-icons">settings</i>
                                <span>Setting</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </aside>
            <!-- End Main Sidebar -->
            <main class="main-content col-lg-10 col-md-9 col-sm-12 p-0 offset-lg-2 offset-md-3">
                <div class="main-navbar sticky-top bg-white">
                    <!-- Main Navbar -->
                    <nav class="navbar align-items-stretch navbar-light flex-md-nowrap p-2">
                        <form action="#" class="main-navbar__search w-100 d-none d-md-flex d-lg-flex">



                        </form>
                        <ul class="navbar-nav border-left flex-row ">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle text-nowrap px-3" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">

                                    <span class="d-none d-md-inline-block">Administrator</span>
                                </a>
                                <div class="dropdown-menu dropdown-menu-small">
                                    <a class="dropdown-item" href="/Setting">
                                        <i class="material-icons">settings</i> Setting</a>
                                    <!--
                                    <a class="dropdown-item" href="#">
                                        <i class="material-icons">vertical_split</i> Blog Posts</a>
                                    <a class="dropdown-item" href="#">
                                        <i class="material-icons">note_add</i> Add New Post</a>
                                    -->
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item text-danger" href="/Logout">
                                        <i class="material-icons text-danger">&#xE879;</i> Logout </a>
                                </div>
                            </li>
                        </ul>

                    </nav>
                </div>
                <!-- / .main-navbar -->
                <div class="main-content-container container-fluid px-4">
                    <!-- Page Header -->
                    <div class="page-header row no-gutters py-4 mb-3 border-bottom">
                        <div class="col-12 col-sm-4 text-center text-sm-left mb-0">
                            <span class="text-uppercase page-subtitle">in the forest</span>
                            <h3 class="page-title">Users</h3>
                        </div>
                    </div>
                    <!-- End Page Header -->
                    <!-- User Table -->
                    <div class="row">
                        <div class="col">
                            <form method="post" id="Userdelete" action="/Deleteuser">
                                <div class="card card-small mb-4">
                                    <div class="card-header border-bottom">
                                        <button type="button" class="mb-0 btn btn-sm btn-outline-primary mr-0" data-toggle="modal" data-target="#Useraddmodal">Add User</button>
                                        &nbsp;
                                        <button type="button" class="mb-0 btn btn-sm btn-outline-primary mr-0" data-toggle="modal" data-target="#UseraddmodalCSV">Add User with CSV</button>
                                        &nbsp;
                                        <button type="button" disabled id="userremove" class="mb-0 btn btn-sm btn-outline-secondary mr-0" data-toggle="modal" data-target="#Userdeletemodal">Delete User</button>
                                    </div>
                                <div class="card-body p-0 pb-3 text-center">
                                    <table class="table mb-0">
                                        <thead class="bg-light">
                                            <tr>
                                                <th scope="col" class="border-0">
                                                    <div class="custom-control custom-checkbox mb-0">
                                                        <input type="checkbox" class="custom-control-input" name="usercheckall" id="usercheckall" onClick="totalcheck();">
                                                        <label class="custom-control-label" for=usercheckall></label>
                                                    </div>
                                                </th>
                                                <th scope="col" class="border-0">No</th>
                                                <th scope="col" class="border-0">Name</th>
                                                <th scope="col" class="border-0">SMB ID</th>
                                                <th scope="col" class="border-0">System Policy</th>
                                                <th scope="col" class="border-0">IP</th>
                                                <th scope="col" class="border-0">Manage</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                          {{#each userslist}}
                                            <tr>
                                                <td>
                                                <div class="custom-control custom-checkbox mb-0">
                                                    <input type="checkbox" class="custom-control-input" name="usercheck" id="usercheck{{this.User_No}}" onClick="buttoncheck()" value="{{this.User_No}}">
                                                    <label class="custom-control-label" for="usercheck{{this.User_No}}"></label>
                                                </div>
                                                </td>
                                                <td>{{this.User_No}}</td>
                                                <td>{{this.User_Name}}</td>
                                                <td>{{this.User_SMB}}</td>
                                                <td>{{this.Policy_Name}}</td>
                                                <td>{{this.User_IP}}</td>
                                                <td>
                                                    <a href="/Userdetail/{{this.User_No}}"><span class="badge badge-pill badge-outline-primary"><i class="material-icons text-primary">add</i> Detail</span></a>
                                                </td>
                                            </tr>
                                            {{/each}}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                                <!-- User Delete Modal -->
                                <div class="modal fade" id="Userdeletemodal" tabindex="-1" role="dialog" aria-labelledby="UserdeletemodalLabel" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="UserdeletemodalLabel">Delete User</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                사용자를 삭제 하시겠습니까?
                                            </div>
                                            <div class="modal-footer">
                                                <button type="submit" class="btn btn-outline-danger">Delete</button>
                                                <button type="button" class="btn btn-outline-primary" data-dismiss="modal">Exit</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- End User Delete Modal -->
                            </form>
                            <!-- User Add Modal -->
                            <form method=post action="/Adduser">
                                <div class="modal fade" id="Useraddmodal" tabindex="-1" role="dialog" aria-labelledby="UseraddmodalLabel" aria-hidden="true">
                                    <div class="modal-dialog modal-lg" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="UseraddmodalLabel">Add User</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <div class="row">
                                                    <div class="col">
                                                        <div class="form-row">
                                                            <div class="form-group col-md-6">
                                                                <label for="User_Name">사용자이름</label>
                                                                <input type="text" class="form-control" id="User_Name" name="User_Name" placeholder="사용자이름"> </div>
                                                            <div class="form-group col-md-6">
                                                                <label for="User_SMB">SMB ID</label>
                                                                <input type="text" class="form-control" id="User_SMB" name="User_SMB" placeholder="SMB ID"> </div>
                                                        </div>
                                                        <div class="form-row">
                                                            <div class="form-group col-md-6">
                                                                <label for="User_IP">IP</label>
                                                                <input type="text" class="form-control" id="User_IP" name="User_IP" placeholder="IP"> </div>
                                                            <div class="form-group col-md-6">
                                                                <label for="User_Policy">시스템 정책</label>
                                                                <select name="User_Policy" id="feInputState" class="form-control" >
                                                                    {{#each policy}}
                                                                    <option  value="{{this.Policy_No}}" name="User_Policy">{{this.Policy_Name}}</option>
                                                                    {{/each}}
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="form-row">
                                                            <div class="form-group col-md-6">
                                                                <label for="User_Department">부서</label>
                                                                <select name="User_Department" id="feInputState" class="form-control" >
                                                                    {{#each department}}
                                                                    <option  value="{{this.Department_No}}" name="User_Department">{{this.Department_Name}}</option>
                                                                    {{/each}}
                                                                </select>
                                                            </div>
                                                             <div class="form-group col-md-6">
                                                                <label for="User_Positions">직책</label>
                                                                <select name="User_Positions" id="feInputState" class="form-control" >
                                                                    {{#each positions}}
                                                                    <option  value="{{this.Positions_No}}" name="User_Positions">{{this.Positions_Name}}</option>
                                                                    {{/each}}
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-outline-success" data-dismiss="modal" data-toggle="modal" data-target="#Useraddnextmodal">Next</button>
                                                <button type="button" class="btn btn-outline-primary" data-dismiss="modal">Exit</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            <!-- End User Add Modal -->
                            <!-- User Add Next Modal -->
                                <div class="modal fade" id="Useraddnextmodal" tabindex="-1" role="dialog" aria-labelledby="UseraddnextmodalLabel" aria-hidden="true">
                                    <div class="modal-dialog modal-lg" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="UseraddnextmodalLabel">Add User</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <div class="row">
                                                    <div class="col">
                                                        <div class="form-row">
                                                            <div class="form-group col-md-12">
                                                                <div class="card-header border-bottom">
                                                                    <h6 class="m-0">적용된 폴더 정책</h6>
                                                                </div>
                                                                <ul class="list-group list-group-flush">
                                                                    <table class="table mb-2">
                                                                        <thead class="bg-light text-center">
                                                                            <tr>
                                                                                <th>
                                                                                    <div class="custom-control custom-checkbox mb-0">
                                                                                        <input type="checkbox" class="custom-control-input" name="foldercheckall" id="foldercheckall" onClick="totalcheck();">
                                                                                        <label class="custom-control-label" for=foldercheckall></label>
                                                                                    </div>
                                                                                </th>
                                                                                <th scope="col" class="border-0">No</th>
                                                                                <th scope="col" class="border-0">Name</th>
                                                                                <th scope="col" class="border-0">Path</th>
                                                                                <th scope="col" class="border-0">Comment</th>
                                                                            </tr>
                                                                        </thead>
                                                                        <tbody class="text-center">
                                                                            {{#each folder}}
                                                                                <tr>
                                                                                    <td>
                                                                                    <div class="custom-control custom-checkbox mb-0">
                                                                                        <input type="checkbox" class="custom-control-input" name="foldercheck" id="foldercheck{{this.Folder_No}}" onClick="buttoncheck()" value="{{this.Folder_No}}">
                                                                                        <label class="custom-control-label" for="foldercheck{{this.Folder_No}}"></label>
                                                                                    </div>
                                                                                    </td>
                                                                                    <td>{{this.Folder_No}}</td>
                                                                                    <td>{{this.Folder_Name}}</td>
                                                                                    <td>{{this.Folder_Path}}</td>
                                                                                    <td>{{this.Folder_Comment}}</td>
                                                                                </tr>
                                                                            {{/each}}
                                                                        </tbody>
                                                                    </table>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="submit" class="btn btn-outline-success">Add</button>
                                                <button type="button" class="btn btn-outline-primary" data-dismiss="modal">Exit</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <!-- End User Add Next Modal -->
                            <!-- User Add Modal CSV -->
                            <form action="/Addusercsv" method="post" enctype="multipart/form-data" accept-charset="ISO-8859-1">
                                <div class="modal fade" id="UseraddmodalCSV" tabindex="-1" role="dialog" aria-labelledby="UseraddmodalCSV" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="UseraddmodalCSVLabel">Addusercsv</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <div class="form-group col-md-12">
                                                  <input type="file" class="custom-file-input" id="customFile" name="avatar">
                                                  <label class="custom-file-label" for="customFile">CSV file input</label>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="submit" id="submitForm" class="btn btn-outline-success">Add</button>
                                                <button type="button" class="btn btn-outline-primary" data-dismiss="modal">Exit</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <!-- End User Add Modal CSV -->
                        </div>
                    </div>
                    <!-- End User Table -->
                </div>
                <footer class="main-footer d-flex p-2 px-3 bg-white border-top">
                    <span class="copyright ml-auto my-auto mr-2">Copyright © 2019
                        <a rel="nofollow">InTheForest</a>
                    </span>
                </footer>
            </main>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
    <script src="https://unpkg.com/shards-ui@latest/dist/js/shards.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Sharrre/2.0.1/jquery.sharrre.min.js"></script>
    <script src="/public/scripts/extras.1.1.0.min.js"></script>
    <script src="/public/scripts/shards-dashboards.1.1.0.min.js"></script>
    <script src="/public/scripts/app/app-blog-overview.1.1.0.js"></script>
</body>

</html>
