<!doctype html>
<html class="no-js h-100" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>In The Forest</title>
    <meta name="description" content="A high-quality &amp; free Bootstrap admin dashboard template pack that comes with lots of templates and components.">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css" />
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.18/js/jquery.dataTables.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.18/js/dataTables.bootstrap4.js"></script>


    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" id="main-stylesheet" data-version="1.1.0" href="/public/styles/shards-dashboards.1.1.0.min.css">
    <link rel="stylesheet" href="/public/styles/extras.1.1.0.min.css">
    <script async defer src="https://buttons.github.io/buttons.js"></script>

    <script src="//cdnjs.cloudflare.com/ajax/libs/d3/4.7.2/d3.min.js"></script>
    <script src="/public/d3pie.js"></script>

    <script>
        $(document).ready(function() {
            $('#example1').DataTable();
        });
        $(document).ready(function() {
            $('#example2').DataTable();
        });

    </script>
</head>

<body class="h-100">
    <div class="container-fluid">
        <div class="row">
            <!-- Main Sidebar -->
            <aside class="main-sidebar col-12 col-md-3 col-lg-2 px-0">
                <div class="main-navbar">
                    <nav class="navbar align-items-stretch navbar-light bg-white flex-md-nowrap border-bottom p-0">
                        <a class="navbar-brand w-100 mr-0" href="/Dashboard" style="line-height: 25px;">
                            <div class="d-table m-auto">
                                <i class="material-icons">cloud_done</i>
                                <span class="d-none d-md-inline ml-1">In The Forest</span>
                            </div>
                        </a>
                        <a class="toggle-sidebar d-sm-inline d-md-none d-lg-none">
                            <i class="material-icons">&#xE5C4;</i>
                        </a>
                    </nav>
                </div>
                <div class="nav-wrapper">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link " href="/Dashboard">
                                <i class="material-icons">dashboard</i>
                                <span>Dashboard</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/EventLog">
                                <i class="material-icons">event</i>
                                <span>Event & Log</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="/Users">
                                <i class="material-icons">assignment_ind</i>
                                <span>Users</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/Systempolicy">
                                <i class="material-icons">computer</i>
                                <span>System Policy</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/Folderpolicy">
                                <i class="material-icons">settings_system_daydream</i>
                                <span>Folder Policy</span>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="/Setting">
                                <i class="material-icons">settings</i>
                                <span>Setting</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </aside>
            <!-- End Main Sidebar -->
            <main class="main-content col-lg-10 col-md-9 col-sm-12 p-0 offset-lg-2 offset-md-3">
                <div class="main-navbar sticky-top bg-white">
                    <!-- Main Navbar -->
                    <nav class="navbar align-items-stretch navbar-light flex-md-nowrap p-2">
                        <form action="#" class="main-navbar__search w-100 d-none d-md-flex d-lg-flex">



                        </form>
                        <ul class="navbar-nav border-left flex-row ">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle text-nowrap px-3" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">

                                    <span class="d-none d-md-inline-block">Administrator</span>
                                </a>
                                <div class="dropdown-menu dropdown-menu-small">
                                    <a class="dropdown-item" href="/Setting">
                                        <i class="material-icons">settings</i> Setting</a>
                                    <!--
                                    <a class="dropdown-item" href="#">
                                        <i class="material-icons">vertical_split</i> Blog Posts</a>
                                    <a class="dropdown-item" href="#">
                                        <i class="material-icons">note_add</i> Add New Post</a>
                                    -->
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item text-danger" href="/Logout">
                                        <i class="material-icons text-danger">&#xE879;</i> Logout </a>
                                </div>
                            </li>
                        </ul>
                    </nav>
                </div>
                <!-- / .main-navbar -->
                <div class="main-content-container container-fluid px-4">
                    <!-- Page Header -->
                    <div class="page-header row no-gutters py-4 mb-3 border-bottom">
                        <div class="col-12 col-sm-12 text-sm-left mb-0">
                            <span class="text-uppercase page-subtitle">in the forest</span>
                            {{#each userdetail}}
                                <h3 class="page-title">{{this.User_Name}}</h3>
                            {{/each}}
                        </div>
                    </div>
                    <!-- End Page Header -->

                    <div class="row">
                        {{#each userdetail}}
                            <div class="col-lg-3">
                                <div class="card card-small mb-4 pt-3">
                                    <div class="card-header border-bottom text-center">
                                        <h4 class="mb-3">{{this.User_Name}}</h4>
                                        <a href="/Useredit/{{this.User_No}}"><span class="badge badge-pill badge-outline-success"><i class="material-icons text-success">create</i> Edit</span></a>
                                    </div>
                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item p-4">
                                            <strong class="text-muted d-block mb-2">사용자 SMB ID</strong>
                                            <span>{{this.User_SMB}}</span>
                                            <p></p>
                                            <strong class="text-muted d-block mb-2">사용자 IP</strong>
                                            <span>{{this.User_IP}}</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-lg-5">
                                <div class="card card-small mb-4">
                                    <div class="card-header border-bottom">
                                        <h6 class="m-0">User Detail</h6>
                                    </div>
                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item p-8 mb-4">
                                            <div class="row">
                                                <div class="col-md-11">
                                                    <p></p>
                                                    <span class="d-flex mb-4">
                                                        <i class="material-icons mr-1">group</i>
                                                        <strong class="mr-1">부서:</strong>
                                                        {{this.Department_Name}}
                                                    </span>
                                                    <span class="d-flex mb-4">
                                                        <i class="material-icons mr-1">assignment_ind</i>
                                                        <strong class="mr-1">직책:</strong>
                                                        {{this.Positions_Name}}
                                                    </span>
                                                    <span class="d-flex mb-4">
                                                        <i class="material-icons mr-1">laptop_windows</i>
                                                        <strong class="mr-1">적용된 시스템 정책:</strong>
                                                        {{#if this.Policy_No}}
                                                            {{this.Policy_Name}}&nbsp;&nbsp;
                                                            <a href="/Systempolicydetail/{{this.Policy_No}}">
                                                                <strong class="text-success">자세히보기</strong>
                                                            </a>
                                                        {{else}}
                                                            없음
                                                        {{/if}}
                                                    </span>
                                                    <span class="d-flex mb-4"></span>
                                                    <span class="d-flex mb-2"></span>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        {{/each}}
                        <div class="col-lg-4">
                            <div class="stats-small stats-small--1 card card-small">
                                <div class="card-body p-3 d-flex">
                                    <div class="d-flex flex-column m-auto">
                                        <div class="stats-small__data text-center">
                                            <br><br><br><br><br>
                                            <span class="stats-small__label text-uppercase">Personal Disk Usage</span>
                                            <h6 class="stats-small__value count my-3">{{foldersize}}</h6>
                                            <br><br><br><br>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card card-small mb-4 pt-0">
                                <div class="card-header border-bottom">
                                    <h6 class="m-0">적용중인 폴더 정책</h6>
                                </div>
                                <ul class="list-group list-group-flush">
                                    <table class="table mb-2">
                                        <thead class="bg-light text-center">
                                            <tr>
                                                <th scope="col" class="border-0">No</th>
                                                <th scope="col" class="border-0">Folder Policy Name</th>
                                                <th scope="col" class="border-0">Folder Comment</th>
                                                <th scope="col" class="border-0">Folder Path</th>
                                                <th scope="col" class="border-0">Manage</th>
                                            </tr>
                                        </thead>
                                        <tbody class="text-center">
                                            {{#each userfolder}}
                                                <tr>
                                                    <td>{{this.Folder_No}}</td>
                                                    <td>{{this.Folder_Name}}</td>
                                                    <td>{{this.Folder_Comment}}</td>
                                                    <td>{{this.Folder_Path}}</td>
                                                    <td>
                                                        <a href="/Folderpolicydetail/{{this.Folder_No}}"><span class="badge badge-pill badge-outline-primary"><i class="material-icons text-primary">add</i> Detail</span></a>
                                                    </td>
                                                </tr>
                                            {{/each}}
                                        </tbody>
                                    </table>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="card card-small mb-4 pt-0">
                                <div class="card-header border-bottom">
                                    <h6 class="m-0">Userlog Graph</h6>
                                </div>
                                <ul class="list-group list-group-flush">
                                    <div id="pieChart1"></div>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="card card-small mb-4 pt-0">
                                <div class="card-header border-bottom">
                                    <h6 class="m-0">Filelog Graph</h6>
                                </div>
                                <ul class="list-group list-group-flush">
                                    <div id="pieChart2"></div>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card card-small mb-4">
                                <div class="card-header border-bottom">
                                    <h6 class="m-0">UserLog</h6>
                                </div>
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item p-0 px-3 pt-3">

                                        <table id="example1" class="table table-bordered" style="width:100%">
                                            <thead>
                                                <tr>
                                                    <th>No</th>
                                                    <th>User ID</th>
                                                    <th>MAC</th>
                                                    <th>IP</th>
                                                    <th>Time</th>
                                                    <th>State</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {{#each userlog}}
                                                    <tr>
                                                        <td>{{this.Userlog_No}}</td>
                                                        <td>{{this.Userlog_Name}}</td>
                                                        <td>{{this.Userlog_MAC}}</td>
                                                        <td>{{this.Userlog_IP}}</td>
                                                        <td>{{this.Userlog_Time}}</td>
                                                        <td>{{this.Userlog_State}}</td>
                                                    </tr>
                                                {{/each}}
                                            </tbody>
                                            <!--<tfoot>
                                                <tr>
                                                    <th>Name</th>
                                                    <th>Position</th>
                                                    <th>Office</th>
                                                    <th>Age</th>
                                                    <th>Start date</th>
                                                    <th>Salary</th>
                                                </tr>
                                            </tfoot>-->
                                        </table>
                                        <br>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="card card-small mb-4">
                                <div class="card-header border-bottom">
                                    <h6 class="m-0">Filelog</h6>
                                </div>
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item p-0 px-3 pt-3">

                                        <table id="example2" class="table table-bordered" style="width:100%">
                                            <thead>
                                                <tr>
                                                    <th>No</th>
                                                    <th>User ID</th>
                                                    <th>Path</th>
                                                    <th>IP</th>
                                                    <th>Time</th>
                                                    <th>State</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {{#each filelog}}
                                                    <tr>
                                                        <td>{{this.Filelog_No}}</td>
                                                        <td>{{this.Filelog_Name}}</td>
                                                        <td>{{this.Filelog_Path}}</td>
                                                        <td>{{this.Filelog_IP}}</td>
                                                        <td>{{this.Filelog_Time}}</td>
                                                        <td>{{this.Filelog_State}}</td>
                                                    </tr>
                                                {{/each}}
                                            </tbody>
                                            <!--<tfoot>
                                                <tr>
                                                    <th>Name</th>
                                                    <th>Position</th>
                                                    <th>Office</th>
                                                    <th>Age</th>
                                                    <th>Start date</th>
                                                    <th>Salary</th>
                                                </tr>
                                            </tfoot>-->
                                        </table>
                                        <br>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <footer class="main-footer d-flex p-2 px-3 bg-white border-top">
                    <span class="copyright ml-auto my-auto mr-2">Copyright © 2019
                        <a rel="nofollow">InTheForest</a>
                    </span>
                </footer>
            </main>
        </div>
    </div>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
    <script src="https://unpkg.com/shards-ui@latest/dist/js/shards.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Sharrre/2.0.1/jquery.sharrre.min.js"></script>
    <script src="/public/scripts/extras.1.1.0.min.js"></script>
    <script src="/public/scripts/shards-dashboards.1.1.0.min.js"></script>
    <script src="/public/scripts/app/app-blog-overview.1.1.0.js"></script>
    <script>
        var pie = new d3pie("pieChart1", {
            "header": {
                "title": {
                    "text": "{{#each userdetail}}{{this.User_Name}}{{/each}}",
                    "fontSize": 24,
                    "font": "open sans"
                },
                "subtitle": {
                    "text": "{{#each userdetail}}{{this.User_Name}}{{/each}}님의 Userlog",
                    "color": "#999999",
                    "fontSize": 12,
                    "font": "open sans"
                },
                "titleSubtitlePadding": 9
            },
            "footer": {
                "color": "#999999",
                "fontSize": 10,
                "font": "open sans",
                "location": "bottom-left"
            },
            "size": {
                "canvasWidth": 550,
                "pieOuterRadius": "90%"
            },
            "data": {
                {{#each userlogc}} "sortOrder": "random",
                "content": [{
                        "label": "로그인",
                        "value": {{this.Userlog_Login}},
                        "color": "#2383c1"
                    },
                    {
                        "label": "로그아웃",
                        "value": {{this.Userlog_Logout}},
                        "color": "#64a61f"
                    },
                    {
                        "label": "비밀번호변경",
                        "value": {{this.Userlog_Change}},
                        "color": "#7b6788"
                    }
                ]
                {{/each}}
            },
            "labels": {
                "outer": {
                    "pieDistance": 32
                },
                "inner": {
                    "hideWhenLessThanPercentage": 3
                },
                "mainLabel": {
                    "fontSize": 11
                },
                "percentage": {
                    "color": "#ffffff",
                    "decimalPlaces": 0
                },
                "value": {
                    "color": "#adadad",
                    "fontSize": 11
                },
                "lines": {
                    "enabled": true
                },
                "truncation": {
                    "enabled": true
                }
            },
            "effects": {
                "pullOutSegmentOnClick": {
                    "effect": "linear",
                    "speed": 400,
                    "size": 8
                }
            },
            "misc": {
                "gradient": {
                    "enabled": true,
                    "percentage": 100
                }
            }
        });

    </script>
    <script>
        var pie = new d3pie("pieChart2", {
            "header": {
                "title": {
                    "text": "{{#each userdetail}}{{this.User_Name}}{{/each}}",
                    "fontSize": 24,
                    "font": "open sans"
                },
                "subtitle": {
                    "text": "{{#each userdetail}}{{this.User_Name}}{{/each}}님의 Filelog",
                    "color": "#999999",
                    "fontSize": 12,
                    "font": "open sans"
                },
                "titleSubtitlePadding": 9
            },
            "footer": {
                "color": "#999999",
                "fontSize": 10,
                "font": "open sans",
                "location": "bottom-left"
            },
            "size": {
                "canvasWidth": 590,
                "pieOuterRadius": "90%"
            },
            "data": {
                {{#each filelogc}} "sortOrder": "random",
                "content": [{
                        "label": "파일 실행",
                        "value": {{this.Filelog_Execute}},
                        "color": "#2383c1"
                    },
                    {
                        "label": "파일 생성",
                        "value": {{this.Filelog_Create}},
                        "color": "#64a61f"
                    },
                    {
                        "label": "파일 수정",
                        "value": {{this.Filelog_Modify}},
                        "color": "#7b6788"
                    },
                    {
                        "label": "파일 삭제",
                        "value": {{this.Filelog_Delete}},
                        "color": "#a05c56"
                    },
                    {
                        "label": "파일 이름 변경",
                        "value": {{this.Filelog_Rename}},
                        "color": "#961919"
                    }
                ]
                {{/each}}
            },
            "labels": {
                "outer": {
                    "pieDistance": 32
                },
                "inner": {
                    "hideWhenLessThanPercentage": 3
                },
                "mainLabel": {
                    "fontSize": 11
                },
                "percentage": {
                    "color": "#ffffff",
                    "decimalPlaces": 0
                },
                "value": {
                    "color": "#adadad",
                    "fontSize": 11
                },
                "lines": {
                    "enabled": true
                },
                "truncation": {
                    "enabled": true
                }
            },
            "effects": {
                "pullOutSegmentOnClick": {
                    "effect": "linear",
                    "speed": 400,
                    "size": 8
                }
            },
            "misc": {
                "gradient": {
                    "enabled": true,
                    "percentage": 100
                }
            }
        });

    </script>
</body>

</html>
